.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url("../../../../src/assets/pojo_pics/p13.png");
  background-size: cover;
}

a .carousel-control-next-icon {
  size: 100px;
  color: black;
  background-color: aqua;
}
a .carousel-control-prev-icon{
  size: 100px;
  color: black;
  background-color: aqua;
}
mat-card-subtitle{
  font-weight: bolder;
}
.social_icons{
  font-size: 15px;
}


/* audio tag */
audio:hover, audio:focus, audio:active
{
-webkit-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
-moz-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
-webkit-transform: scale(1.05);
-moz-transform: scale(1.05);
transform: scale(1.05);
}


audio
{
-webkit-transition:all 0.5s linear;
-moz-transition:all 0.5s linear;
-o-transition:all 0.5s linear;
transition:all 0.5s linear;
-moz-box-shadow: 2px 2px 4px 0px #006773;
-webkit-box-shadow:  2px 2px 4px 0px #006773;
box-shadow: 2px 2px 4px 0px #006773;
-moz-border-radius:7px 7px 7px 7px ;
-webkit-border-radius:7px 7px 7px 7px ;
border-radius:7px 7px 7px 7px ;
}
