<hr>
<div class="container-fluid" id="reel_life">
  <div class="row">
    <div class="align-content-center center m-auto jumbotron-fluid font-weight-bolder">
        <audio controls autoplay loop class="border border-danger">
            <source src="./assets/music/heart_salena.mp3" type="audio/mpeg">
          </audio>

    </div>
  </div>
</div>
<hr>
<div class="container-fluid">
  <div class="row">
    <div class="align-content-center center m-auto jumbotron-fluid font-weight-bolder"> <h1>Reel Life</h1> </div>
  </div>
</div>

<div class="container-fluid mat-background-primary">
  <div class="row">
    <div class="col-12 ">

      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="10000" pause="hover">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container">
              <div class="row">
                <!-- first card -->
                <div class="col-12 col-md-4 col-lg-4 align-content-center">
                  <mat-card class="example-card border border-danger z-depth-2">
                    <mat-card-header >
                      <div mat-card-avatar class="example-header-image"></div>
                      <mat-card-title>Cutie</mat-card-title>
                      <mat-card-subtitle>Comparing the Cuteness</mat-card-subtitle>
                    </mat-card-header>
                    <img  mat-card-image src="assets/pojo_pics/p14.png"
                      alt="Photo of a Shiba Inu">
                    <mat-card-content>
                      <p>
                        That white mini creature is so adorable and cute.
                        The one who can't speak but do understands everything.
                        When it comes to defending their loved ones, they are the most loyal.
                        #loyal#caring
                      </p>
                    </mat-card-content>
                    <mat-card-actions>
                      <button mat-button><mat-icon>cake</mat-icon></button>
                      <button mat-button><mat-icon>favorite</mat-icon></button>
                      <a matTooltip="follow me on instagram" class="p-2 social_icons"   href="https://www.instagram.com/_poojadeshmukh_/">
                        <span ><fa name="instagram" size="lg" ></fa>  </span>
                      </a>
                    </mat-card-actions>
                  </mat-card>
                </div>
                <!-- /first card -->
                <!-- second Card -->
                <div class="col-12 col-md-4 col-lg-4">
                  <mat-card class="example-card border border-danger z-depth-2">
                    <mat-card-header >
                      <div mat-card-avatar class="example-header-image"></div>
                      <mat-card-title>Calm and Relax</mat-card-title>
                      <mat-card-subtitle>In The Arm of Nature</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="assets/pojo_pics/p4.png"
                      alt="Photo of a Shiba Inu">
                    <mat-card-content>
                      <p>
                        After family and friends, Nature is the most peaceful place to be in.
                        Be Always like Nature, soothing others pain and Giving more without any expectation.
                        #SecondHome
                      </p>
                    </mat-card-content>
                    <mat-card-actions>
                      <button mat-button><mat-icon>cake</mat-icon></button>
                      <button mat-button><mat-icon>favorite</mat-icon></button>
                      <a class="p-2 social_icons" matTooltip="follow me on instagram"  href="https://www.instagram.com/_poojadeshmukh_/">
                        <span ><fa name="instagram" size="lg" ></fa>  </span>
                      </a>
                    </mat-card-actions>
                  </mat-card>
                </div>
                <!-- /second Card -->
                <!-- third card -->
                <div class="col-12 col-md-4 col-lg-4">
                  <mat-card class="example-card border border-danger z-depth-2">
                    <mat-card-header>
                      <div mat-card-avatar class="example-header-image"></div>
                      <mat-card-title>Beauty</mat-card-title>
                      <mat-card-subtitle>Beauty Blended with Splintered Light</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="assets/pojo_pics/p6.png"
                      alt="Photo of a Shiba Inu">
                    <mat-card-content>
                      <p>
                        Every Day brings something fruitful. The day I met you in C-Dac was the dawn of new era.
                        Probably, an empty canvas ended up full of memories, affection, love, friendship and lot more.
                      </p>
                    </mat-card-content>
                    <mat-card-actions>
                      <button mat-button><mat-icon>cake</mat-icon></button>
                      <button mat-button><mat-icon>favorite</mat-icon></button>
                      <a class="p-2 social_icons" matTooltip="follow me on instagram"   href="https://www.instagram.com/_poojadeshmukh_/">
                        <span ><fa name="instagram" size="lg" ></fa>  </span>
                      </a>
                    </mat-card-actions>
                  </mat-card>
                </div>
                <!-- /third card -->
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="container">
              <div class="row">
                <!-- first card -->
                <div class="col-12 col-md-4 col-lg-4">
                  <mat-card class="example-card border border-danger z-depth-2">
                    <mat-card-header>
                      <div mat-card-avatar class="example-header-image"></div>
                      <mat-card-title>Frame</mat-card-title>
                      <mat-card-subtitle>Capturing the unforgettable moment</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="assets/pojo_pics/p19.png"
                      alt="Photo of a Shiba Inu">
                    <mat-card-content>
                      <p>
                        Grateful to that moment and environment, where I got to capture this cute, adorable and sweet puddin.
                        A fluffy doll full of drama and childish nature.#iNeedThoseDaysBack#YouOweThemToMe
                      </p>
                    </mat-card-content>
                    <mat-card-actions>
                      <button mat-button><mat-icon>cake</mat-icon></button>
                      <button mat-button><mat-icon>favorite</mat-icon></button>
                      <a class="p-2 social_icons" matTooltip="follow me on instagram"  href="https://www.instagram.com/_poojadeshmukh_/">
                        <span ><fa name="instagram" size="lg" ></fa>  </span>
                      </a>
                    </mat-card-actions>
                  </mat-card>
                </div>
                <!-- /first card -->
                <!-- second Card -->
                <div class="col-12 col-md-4 col-lg-4">
                  <mat-card class="example-card border border-danger z-depth-2">
                    <mat-card-header>
                      <div mat-card-avatar class="example-header-image"></div>
                      <mat-card-title>Precious Smile</mat-card-title>
                      <mat-card-subtitle>Treasure of My Life</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="assets/pojo_pics/p13.png"
                      alt="Photo of a Shiba Inu">
                    <mat-card-content>
                      <p>
                        Those glittering eyes and that natural smile still brings the heart soothing happiness to me.
                        Always wear it like an armour to shield yourself.Your smile, a Most sought thing from me. #Be Happy
                      </p>
                    </mat-card-content>
                    <mat-card-actions>
                      <button mat-button><mat-icon>cake</mat-icon></button>
                      <button mat-button><mat-icon>favorite</mat-icon></button>
                      <a class="p-2 social_icons" matTooltip="follow me on instagram"   href="https://www.instagram.com/_poojadeshmukh_/">
                        <span ><fa name="instagram" size="lg" ></fa>  </span>
                      </a>
                    </mat-card-actions>
                  </mat-card>
                </div>
                <!-- /second Card -->
                <!-- third card -->
                <div class="col-12 col-md-4 col-lg-4">
                  <mat-card class="example-card border border-danger z-depth-2">
                    <mat-card-header>
                      <div mat-card-avatar class="example-header-image"></div>
                      <mat-card-title>Maharashtrian by Heart </mat-card-title>
                      <mat-card-subtitle>This is where my soul belongs </mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="assets/pojo_pics/p22.png"
                      alt="Photo of a Shiba Inu">
                    <mat-card-content>
                      <p>
                        There used to be one doll who used to fight so much with me.
                        I was so much habituated to her elvish behaviour.Now she is grown up like a queen.#MissingThatDollSoMuch.
                      </p>
                    </mat-card-content>
                    <mat-card-actions>
                      <button mat-button><mat-icon>cake</mat-icon></button>
                      <button mat-button><mat-icon>favorite</mat-icon></button>
                      <a class="p-2 social_icons" matTooltip="follow me on instagram"  href="https://www.instagram.com/_poojadeshmukh_/">
                        <span ><fa name="instagram" size="lg" ></fa>  </span>
                      </a>
                    </mat-card-actions>
                  </mat-card>
                </div>
                <!-- /third card -->
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev " href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next " href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

    </div>
  </div>
</div>
<br>
<!-- Footer -->
<footer class="page-footer font-small cyan darken-3">

  <!-- Footer Elements -->
  <div class="container">
    <div class="row">
        <h3 class="m-auto">Follow us</h3>
    </div>
    <!-- Grid row-->
    <div class="row">
      <!-- Grid column -->
      <div class="col-12 ">
            <div class=" flex-center align-content-between ">
                <a class="p-2 social_icons" matTooltip="follow me on instagram"  href="https://www.instagram.com/_poojadeshmukh_/">
                  <span ><fa name="instagram" size="lg" ></fa>  </span>
                </a>
                <a class="p-2 social_icons" matTooltip="follow me on facebook" href="https://www.facebook.com/sweetsandip">
                  <span ><fa  name="facebook" size="lg"></fa>  </span>
                </a>
                <a class="p-2 social_icons" matTooltip="follow me on linkedin" href="https://www.linkedin.com/in/sidh19">
                  <span ><fa name="linkedin" size="lg" ></fa>  </span>
                </a>
            </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="https://www.linkedin.com/in/sidh19"> P&D.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
