
<!-- Heading section -->
<div class="container ">
  <div class="row ">
      <div class="col-4 col-sm-2  col-md-2 col-lg-2 align-content-center  pt-2 ">
        <img src="assets/logo/P&D_logo.jpeg" class="animated rotateIn img-fluid h-auto img-thumbnail rounded-circle border-dark" alt="gurukul">
          <div class="col-12 pr-0 col-lg-12  ">
              <h6 id="tagline" class="animated wobble slower center red-text">Sharing is Caring</h6>
          </div>
      </div>
      <div class="col-8  col-sm-10 col-md-10 col-lg-10  pt-4">
          <h1 id="heading"
              class="jumbotron-fluid  h1-responsive font-weight-bold text-primary text-sm-center text-md-center text-lg-left">
              Pojo & Dao</h1>
          <p id="wish" class="font-italic text-sm-center text-md-center text-lg-left text-info animated fadeInDownBig slow">
              Wish You Happy Birthday Fluffy Doll</p>
      </div>
  </div>
</div>
