<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="assets/carousel/cake.jpg" alt="First slide">
      <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption mask rgba-black-light">
      <h3 class="h3-responsive font-weight-bolder ">Happy BirthDay Golu Molu</h3>
      <h6 class="jumbotron-fluid ">Don't count the candles, Don't count the people around you,just Count on your faith &
        Conscience</h6>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="assets/carousel/happy_bday.jpg" alt="Second slide">
      <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h3 class="h3-responsive">Wish You Happiest Bday baal</h3>
      <h6>Sending you the bouquet of Smile, Happiness and lots of Love</h6>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="assets/carousel/muffin.jpg" alt="Third slide">
      <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption mask rgba-black-slight">
      <h2 class="h3-responsive font-weight-bolder text-white">Light in my life</h2>
      <h6 class="font-weight-bolder text-white">Always Have the attitude like candle to stand high, alone and light your
        path</h6>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="assets/carousel/present2.jpg" alt="Third slide">
      <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h3 class="h3-responsive">Live In Present</h3>
      <p>Don't look into past, Don't worry about future, and here I've not bought any presents for you.<em
          class="fas fa-grin-squint-tears"></em></p>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="assets/carousel/shining.jpg" alt="Third slide">
      <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption mask rgba-black-slight">
      <h3 class="h3-responsive font-weight-bold">Enjoy Your Day</h3>
      <p class="font-weight-light">Be crazy, Be Happy, Be weird, Be You !!!</p>
    </div>
  </mdb-carousel-item>
</mdb-carousel>

<div><app-card-carousel></app-card-carousel></div>

